.table-container {
    position: relative;
    bottom: -10px;
}



.bottom-left-button {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.bottom-right-button {
    position: absolute;
    bottom: 15px;
    right: 10px;
}
